.DS_Store
node_modules
/dist
/node_modules
# local env files
.env.local
.env.*.local
automate_ecatalog-1.0.0.tgz
test.zip
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

